Repository ImBIOS/simple-web-project-collection, pull requests merged in 2021-10, with the labels that each got.

#8 Installing Boostrap
  makan-nasi/index.html
  web-nasi-goreng-bu-yuyun/css/style.css
  web-nasi-goreng-bu-yuyun/index.html
Labels: enhancement, hacktoberfest-accepted

#26 create index.html
  Example-Login/index.html
Labels: hacktoberfest-accepted

#32 Make form in html
  Html Basic for Web/form.html
Labels: hacktoberfest-accepted

#42 added simon game
  14.SimonGame/game.js
  14.SimonGame/index.html
  14.SimonGame/simoncrop.png
  14.SimonGame/simonimg.jpg
  14.SimonGame/sounds/blue.mp3
  14.SimonGame/sounds/green.mp3
  14.SimonGame/sounds/red.mp3
  14.SimonGame/sounds/wrong.mp3
  14.SimonGame/sounds/yellow.mp3
  14.SimonGame/styles.css
Labels: good first issue, hacktoberfest-accepted
